extends layouts/login-layout.pug
block content
    .loginContainer
        h1 Login
        form(method="post")
            p.errorMessage #{errorMessage}
            input(type="text", name="logUserName", placeholder='Username or email' value='suazo' required="")
            input(type="password", name="logPassword", placeholder='Password or email' value='password' required="")
            //- input(type="text", name="logUserName", placeholder='Username or email' value=logUserName required="")
            //- input(type="password", name="logPassword", placeholder='Password or email' required="")
            input(type="submit", value="Login")
        a(href="/register") Need an account? Register here.